/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile
/pm_to_blib

/carton.lock
/.carton/
/local/
/.vscode/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

/_build_params

MYMETA.*

/SDL2-*
.tidyall.d/
/eg/39*
/eg/_Inline

# Current dev tinkering
eg/audio.h
eg/blah.c
eg/h2xs.pl
eg/hello_world.pl
eg/inline_sdl2.pl
eg/parse_headers.pl
eg/scratch.pl
eg/tempCodeRunnerFile.pl
eg/SDL_WasInt.pl
.pls_cache/
SDL2.code-workspace
.tmp/

SciTE.session
eg/fbx.json
eg/knocking_6.wav
eg/libffi.so
eg/play_sound.pl
eg/sound25.mp3
eg/threads.pl
eg/trash.pl
ffi/lib*

eg/blah.xpm
eg/devel.pl
eg/foo.txt
eg/here.txt
eg/icons/Add.ico
eg/icons/Add_16x16.bmp
eg/icons/Add_16x16.png
eg/icons/Add_24x24.png
eg/icons/Add_256x256.png
eg/icons/Add_32x32.png
eg/icons/Add_48x48.png
eg/icons/Sub_16x16.bmp
eg/icons/sample_640×426.bmp
eg/icons/sample_640×426_new.bmp
eg/memcpy_weirdness.pl
share/libbundle.so
ffi/_build

share/

temp/

eg/glyph-*.bmp

builder/_alien
builder/stage

_Inline/
eg/*.ttf
eg/eyes.gif
eg/gradient.pl
eg/gradient.xpm
eg/inline.pl
eg/out.jpg
eg/sample.png
eg/shuttle.tga
eg/teapot.xpm
eg/thread_com.pl
*.orig