/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile
/pm_to_blib

/carton.lock
/.carton/
/local/
/.vscode/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

/_build_params

MYMETA.*

/SDL2-*
.tidyall.d/
/eg/39*
/eg/_Inline

# Current dev tinkering
eg/audio.h
eg/blah.c
eg/h2xs.pl
eg/hello_world.pl
eg/inline_sdl2.pl
eg/parse_headers.pl
eg/scratch.pl
eg/tempCodeRunnerFile.pl
eg/SDL_WasInt.pl